{% extends 'main.html' %}

{% block content %}
<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 20px; /* Add some gap between columns */
    }

    /* Style for the "Browse Topics" section */
    .browse-topics {
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }


</style>

<div class="container home-container">
    <div class="browse-topics">
        <h2 class="mb-4">Browse Topics</h2>
        <a href="{% url 'home' %}">All</a>
        {% for topic in topics %}
        <h5><a href="{% url 'home' %}?q={{topic.name}} ">{{topic.name}}</a></h5>
        {% endfor%}
    </div>
    <div class="rooms-list">
        <h1 class="text-center my-2">Rooms (number of rooms  {{room_count}} )</h1>
        <div class="row">
           
            {% for room in rooms %}
            <div class="col-md-6">
                <div class="card mb-4 border-primary">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h5 class="card-title mb-0"><a href="{% url 'room' room.id %}" class="text-decoration-none text-primary">{{ room.name }}</a></h5>
                            <div>
                                <a href="{% url 'update-room' room.id %}" class="btn btn-primary btn-sm me-2">Edit</a>
                                <a href="{% url 'delete-room' room.id %}" class="btn btn-danger btn-sm">Delete</a>
                            </div>
                        </div>
                        <p class="card-text mb-2"><small class="text-muted">Hosted by {{ room.host.username }}</small></p>

                        <p class="card-text"> <span class="font-bold">topic:</span> {{ room.topic.name }}</p>
                        <div class="d-flex justify-content-between">
                            <p class="card-text"><small class="text-muted">Created at: {{ room.created }}</small></p>
                            <p class="card-text"><small class="text-muted">Updated at: {{ room.updated }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
